doctype html
html
    head
        link(rel='shortcut icon', href='#')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        script(src='../js/main.js')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Home | Stream DB
    body
        .spaces
        h1#numOfTweetsMsg Number of tweets in stream DB: 
        .spaces
        h1#numOfTweets